.page.theme_dark {
  --primary-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --secondary-color: #db00ff;
  --secondary-heading-color: var(--background-color);
  --main-heading-color: var(--secondary-color);
  --main-shadow-color: var(--accent-color);
  --decoration-color: var(--accent-color);
  --decoration-display: flex;
  --main-background-image: url(../images/cover-image-dark.png);
}
