:root .theme_light {
  --primary-color: #353430;
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --secondary-color: #ff0070;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-zone::before,
.theme_light .decorated-zone::after,
.theme_light .header__theme-menu-button:focus-visible,
.theme_light .header__theme-menu-button:active,
.theme_light .header__theme-menu-button_active {
  border-color: var(--primary-color);
}

.theme_light .decorated-zone__decoration {
  display: none;
}

.theme_light .header__theme-menu-button {
  color: var(--primary-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgb(from var(--primary-color) r g b / 0.4);
}

.theme_light .title {
  color: #ffc2e6;
}

.theme_light .header__title {
  text-shadow: 4px 4px 0 var(--secondary-color);
}

.theme_light .title-decor,
.theme_light .section__heading {
  color: var(--primary-color);
}

.theme_light .footer__title {
  text-shadow: 2px 2px 0 var(--secondary-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #353430;
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --secondary-color: #ff0070;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button:focus-visible,
  .header__theme-menu-button:active,
  .header__theme-menu-button_active {
    border-color: var(--primary-color);
  }

  .decorated-zone__decoration {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--primary-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgb(from var(--primary-color) r g b / 0.4);
  }

  .title {
    color: #ffc2e6;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--secondary-color);
  }

  .title-decor,
  .section__heading {
    color: var(--primary-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--secondary-color);
  }
}
