.page.theme_light {
  --primary-color: #353430;
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --secondary-color: #ff0070;
  --secondary-heading-color: var(--primary-color);
  --main-heading-color: #ffc2e6;
  --main-shadow-color: var(--secondary-color);
  --decoration-color: var(--primary-color);
  --decoration-display: none;
  --main-background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #353430;
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --secondary-color: #ff0070;
    --secondary-heading-color: var(--primary-color);
    --main-heading-color: #ffc2e6;
    --main-shadow-color: var(--secondary-color);
    --decoration-color: var(--primary-color);
    --decoration-display: none;
    --main-background-image: url(../images/cover-image-light.png);
  }
}
