:root {
  --primary-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --secondary-color: #db00ff;
  --main-gap: 10px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
  }
}
