:root {
  --primary-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;

  /* 10px на экранах меньше 768px, 20px на остальных */
  --main-gap: min(round(down, max(100lvw, 758px) - 748px, 10px), 20px);
}
